<div class="contenedor">
  <div class="row">
    <div class="col-8">
      <h1>Dashboard de análisis</h1>
      <p>Monitorea el rendimiento de tu negocio en tiempo real</p>
    </div>
    <div class="col-4">
      aqui van las fechas
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <chart-ingresos-by-ventas></chart-ingresos-by-ventas>
    </div>
    <div class="col-3">
      <chart-ingresos-by-ventas></chart-ingresos-by-ventas>
    </div>
    <div class="col-3">
      <chart-ingresos-by-ventas></chart-ingresos-by-ventas>
    </div>
    <div class="col-3">
      <chart-ingresos-by-ventas></chart-ingresos-by-ventas>
    </div>
  </div>
</div>