.pop-up{
  background-color: var(--bg-white);
  max-width: 600px;
  margin: auto;
  border-radius: var(--spacing-md);
  box-shadow: var(--shadow-md);
  display: flex;
  justify-content: center;  
  align-items: center;
  padding: var(--spacing-md);
}

.pop-up form{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-sm);
}

.pop-up form input, .pop-up form select, .pop-up form button{
  width: 100%;
  height: 40px;
  border: 1px solid var(--gray-400);
  border-radius: var(--radius-lg);
  padding-left: 10px;
  box-sizing: border-box;
}

.pop-up form input.fecha{
  padding-right: 10px;
}

.pop-up form input:focus{
  border: 1px solid var(--primary-color);
}

.pop-up form button{
  border-radius: var(--spacing-md);
  background-color: var(--primary-color);
  color: var(--bg-white);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  border: none;
}

form div span{
  font-size: 12px;
  color: #e24444;
  display: block;
  margin-top: var(--spacing-xs);
}

form div{
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .pop-up form{
    grid-template-columns: repeat(2, 1fr);
  }
}
