<div class="container mt-3">
  <form [formGroup]="personaForm" (ngSubmit)="guardar()">

    <div class="row">
      <!-- Primera columna -->
      <div class="col-md-12">
        <div class="form-group">
          <label for="cedula"><strong>Cédula:</strong></label>
          <div class="mt-1">
            <input maxlength="15" type="text" class="form-control" formControlName="cedula" placeholder="Cédula">
            <span class="text-danger" *ngIf="personaForm.get('cedula')?.invalid && personaForm.get('cedula')?.touched">
              Por favor, ingrese solo números
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-4">
        <div class="form-group">
          <label for="nombre"><strong>Nombre:</strong></label>
          <div class="mt-1">
            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
            <span class="text-danger" *ngIf="personaForm.get('nombre')?.invalid && personaForm.get('nombre')?.touched">
              Por favor, ingrese solo texto.
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-4">
        <div class="form-group">
          <label for="direccion"><strong>Dirección:</strong></label>
          <div class="mt-1">
            <input type="text" class="form-control" formControlName="direccion" placeholder="Dirección">
            <span class="text-danger"
              *ngIf="personaForm.get('direccion')?.invalid && personaForm.get('direccion')?.touched">
              Por favor, ingrese un valor válido.
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-4">
        <div class="form-group">
          <label for="correo"><strong>Correo:</strong></label>
          <div class="mt-1">
            <input type="email" class="form-control" formControlName="correo" placeholder="Correo">
            <span class="text-danger" *ngIf="personaForm.get('correo')?.invalid && personaForm.get('correo')?.touched">
              Por favor, ingrese un correo válido.
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Botón centrado -->
    <div class="d-flex justify-content-center mt-5 mb-2">
      <button class="btn-md" type="submit" id="azul">
        Guardar
      </button>
    </div>

  </form>
</div>