.contenedor{
  border-radius: var(--radius-md);
  margin: var(--spacing-md) 5%;
}

.table-container {
  width: 100%;
  height: 100%;
  background-color: rgb(66, 170, 83);
  border-radius: var(--radius-lg);
}

.table-container .separador {
  margin-top: var(--spacing-md);
}

.separador div {
  width: 100%;
  display: flex;
  /*justify-content: center;*/
  /*border: 1px solid rgb(182, 182, 182) ;*/
  border-radius: var(--radius-lg);
}

table {
  background-color: rgb(66, 170, 83);
  width: 100%;
  /*border-collapse: collapse;*/
  border-radius: var(--radius-lg);
}

th,
td {
  border: none;
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--bg-white);
  color: var(--text-light);
}


tr:nth-child(odd) {
  background-color: var(--bg-table-odd);
}

tr:nth-child(even) {
  background-color: var(--bg-table-even);
}

td.eliminar,
th.eliminar {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

td button.editar,
td button.check {
  background: none;
  border: none;

}

.ocultar {
  display: none;
}

.buscar input {
  width: 100%;
  height: 30px;
  border: none;
  border: 1px solid var(--gray-400);
  border-radius: var(--radius-lg);
  transition: border-color var(--transition-normal), box-shadow var(--transition-normal);
}

.buscar input:hover {
  border-color: var(--primary-hover);
  box-shadow: var(--shadow-sm);
}

.date-input {
  border-radius: var(--radius-lg);
  width: 100%;
  height: 30px;
  background-color: var(--primary-color);
  color: var(--bg-white);
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-normal), transform var(--transition-fast);
}

button#nuevo {
  border-radius: var(--radius-lg);
  width: 100%;
  height: 30px;
  background-color: var(--success-color);
  color: var(--bg-white);
  font-weight: 600;
  font-size: 16px;
  padding: 5px 30px;
  border: none;
  cursor: pointer;
  margin-top: var(--spacing-xs);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-normal), transform var(--transition-fast);
}

button#nuevo:hover {
  background-color: #17d641;
  transform: scale(1.05);
}

.buscar input {
  width: 100%;
  height: 30px;
  border: none;
  border: 1px solid var(--gray-400);
  border-radius: var(--radius-lg);
  transition: border-color var(--transition-normal), box-shadow var(--transition-normal);
}

.buscar input:hover {
  border-color: var(--primary-hover);
  box-shadow: var(--shadow-sm);
}

.buscar {
  margin-top: var(--spacing-xs);
}

.buscar label {
  font-weight: 600;
}


p.rojo {
  color: var(--text-primary);
  width: 100%;
  height: 50px;
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  display: flex;
  justify-content: left;
  align-items: center;
}



div.pup-up {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--bg-overlay);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

div.pop-up-container {
  position: relative;
}

div.pup-up span {
  position: absolute;
  top: -10px;
  right: -7px;
  background: var(--bg-white);
  border-radius: var(--radius-round);
  border: 1px solid var(--gray-500);
  padding: 2px;
  cursor: pointer;
}

.table-container .pup-up.oculto {
  display: none;
}

@media (max-width: 576px) {
  button#nuevo {
    font-size: 14px;
  }
}

#dateInput {
  background-color: var(--bg-white);
  color: var(--text-primary);
  display: inline-block;
}


.previsualizacion {
  padding: var(--spacing-md);
  background-color: var(--bg-light);
  border: 1px solid var(--gray-400);
  margin-top: var(--spacing-md);
}

.previsualizacion h2 {
  margin-bottom: var(--spacing-md);
}

.previsualizacion p {
  font-size: 16px;
  margin-bottom: var(--spacing-sm);
}

.pagination {
  flex-wrap: wrap;
  /* Permite que las páginas se ajusten en pantallas pequeñas */
}

.page-item {
  margin-top: 2px;
  /* Agrega separación entre los botones */
}

.page-link {
  min-width: 40px;
  /* Tamaño mínimo para los botones */
  text-align: center;
  /* Centrar texto en los botones */
}

@media (max-width: 576px) {
  .pagination {
    justify-content: center;
    /* Asegura que todo se centre en pantallas pequeñas */
  }
}