.card {
  background-color: var(--bg-white);
  border: 1px solid var(--gray-400);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  transition: transform var(--transition-normal) ease, box-shadow var(--transition-normal) ease;
  overflow: hidden;
  width: 100%;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: var(--shadow-lg);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  height: 100%;
}

.card-body img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.card-title {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #666;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Responsive Styles */

@media (max-width: 2000px) {
  .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .card{
    height: 350px;
  }
}

@media (max-width: 1200px) {
  .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .card{
    height: 400px;
  }
}

@media (max-width: 992px) {
  .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .card{
    height: 300px;
  }
}

@media (max-width: 768px) {
  .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
