<div class="card">
    <div class="card-header">
        <div>
            <h5><strong>Día con más ventas</strong></h5>
            <p>Por cantidad de ventas</p>
        </div>

        <div class="card-icon icon-blue">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
                <circle cx="9" cy="7" r="4"></circle>
                <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
            </svg>
        </div>
    </div>
    <div class="card-body">
        <h1 class="value-in-card">156 ventas</h1>
        <span><strong>Sábado 11 Nov</strong></span>
    </div>
</div>