<div class="contenedor">
  <div class="row">
    <div class="col-12">
      <h1 class="rojo">
        Gestión de Usuarios
      </h1>
    </div>
    <div class="col-8 col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xxl-10">
      <div class="buscar">
        <input type="text" id="buscar" (keyup)="buscar($event)" placeholder="  Buscar usuario...">
      </div>
    </div>
    <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 col-xxl-2">
      <button id="nuevo" class="btn btn-primary" routerLink="/app/usuario/nuevo">Nuevo</button>
    </div>
  </div>

  <h6 class="totalClientes">Se han encontrado {{ totalUsuarios }} usuarios.</h6>

  <div class="table-container">
    <div class="separador">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Email</th>
              <th class="eliminar">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for(usuario of filtroUsuarios; track usuario.id){
            <tr>
              <td>{{ usuario.id }}</td>
              <td>{{ usuario.nombre }}</td>
              <td>{{ usuario.email }}</td>
              <td class="eliminar">
                <button (click)="eliminarPorId(usuario.id)">❌</button>
                <button class="editar" data-bs-toggle="modal" data-bs-target="#editarUsuarioModal" (click)="toggleModoEdicion(usuario)">✏️</button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

<!-- Modal de Bootstrap -->
<div class="modal" id="editarUsuarioModal" tabindex="-1" aria-labelledby="editarUsuarioModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarUsuarioModalLabel">Editar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" (click)="cerrarModal()"></button>
      </div>
      <div class="modal-body"> 
        <app-editar-usuario [usuarioEditar]="usuarioEditar" (modoOculto)="editarModoOcuto()"></app-editar-usuario>
      </div>
    </div>
  </div>
</div>

</div>
