<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="rojo">
        Gestion de Clientes
      </h1>
    </div>
    <div class="col-8 col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xxl-10">
      <div class="buscar">
        <input type="text" id="buscar" (keyup)="buscar($event)" placeholder="  Buscar cliente...">
      </div>
    </div>
    <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 col-xxl-2">
      <button id="nuevo" class="btn btn-primary" routerLink="/app/cliente/nuevo">Nuevo</button>
    </div>
  </div>

  <h6 class="totalClientes">Se han encontrado {{ totalClientes }} clientes.</h6>

  <div class="table-container">
    <div class="separador">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>CC</th>
              <th>Nombre</th>
              <th>Direccion</th>
              <th class="d-none d-md-table-cell">Correo</th>
              <th class="d-none d-md-table-cell">FechaCreacion</th>
              <th class="eliminar">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for(cliente of filtroClientes; track cliente.id){
            <tr>
              <td>{{ cliente.cedula }}</td>
              <td>{{ cliente.nombre }}</td>
              <td>{{ cliente.direccion }}</td>
              <td class="d-none d-md-table-cell">{{ cliente.correo }}</td>
              <td class="d-none d-md-table-cell">{{ cliente.fechaCreacion | date }}</td>
              <td class="eliminar">
                <button (click)="eliminarPorId(cliente.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 48 48">
                    <path fill="#f44336" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#fff" d="M29.656,15.516l2.828,2.828l-14.14,14.14l-2.828-2.828L29.656,15.516z"></path><path fill="#fff" d="M32.484,29.656l-2.828,2.828l-14.14-14.14l2.828-2.828L32.484,29.656z"></path>
                  </svg>
                </button>
                <button class="editar" (click)="toggleModoEdicion(cliente)">✏️</button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>

    <div class="pup-up" [ngClass]="{ 'oculto': modoOculto }">
      <div class="pop-up-container">
        <span class="cerrar" (click)="editarModoOcuto()">❌</span>
        <app-editar-cliente class="editar" [personaEditar]="personaEditar"
          (modoOculto)="editarModoOcuto()"></app-editar-cliente>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center mt-3 flex-wrap">
    <nav aria-label="Page navigation" class="w-100">
      <ul class="pagination justify-content-center mt-3 flex-wrap">
        <!-- Página anterior -->
        <li class="page-item" [class.disabled]="paginaActual === 0">
          <button class="page-link" (click)="paginaAnterior()" tabindex="-1" aria-disabled="true">
            Anterior
          </button>
        </li>
  
        <!-- Mostrar las páginas -->
        <li class="page-item" *ngFor="let page of paginas; let i = index" [class.active]="paginaActual === i">
          <button class="page-link" (click)="irPagina(i)">{{ i + 1 }}</button>
        </li>
  
        <!-- Página siguiente -->
        <li class="page-item" [class.disabled]="paginaActual === totalPaginas - 1">
          <button class="page-link" (click)="paginaSiguiente()">Siguiente</button>
        </li>
      </ul>
    </nav>
  </div>

</div>