.formulario {
  border-radius: var(--radius-md);
  margin: var(--spacing-md) 5%;
}

.formulario .nota {
  color: var(--text-primary);
  width: 100%;
  display: flex;
  justify-content: left;
}

.encabezado{
  padding-bottom: var(--spacing-md);
}

.formulario p {
  margin-bottom: 15px;
}

.formulario .form-group {
  margin-bottom: 15px;
}

.formulario .form-control {
  border-radius: var(--radius-sm);
}

.formulario button {
  border-radius: var(--radius-sm);
}

@media (max-width: 576px) {
  .formulario {
    padding: 15px;
  }
}


