.formulario {
  border-radius: 8px;
  margin: 20px 5%;
}

.formulario .nota {
  color: #000000;
  width: 100%;
  display: flex;
  justify-content: left;
}

.encabezado{
  padding-bottom: 20px;
}

.formulario p {
  margin-bottom: 15px;
}

.formulario .form-group {
  margin-bottom: 15px;
}

.formulario .form-control {
  border-radius: 5px;
}

.formulario button {
  border-radius: 5px;
}

@media (max-width: 576px) {
  .formulario {
    padding: 15px;
  }
}


