<div class="modal " (click)="cerrarModal()">
  <form [formGroup]="productoForm" class="modal-dialog modal-lg" (click)="$event.stopPropagation()">
    <div class="modal-content">

      <!-- Encabezado -->
      <div class="modal-header">
        <h2 class="modal-title">✏️ Editar Producto</h2>
        <button type="button" class="btn-close" (click)="cerrarModal()"></button>
      </div>

      <!-- Cuerpo del modal -->
      <div class="modal-body" *ngIf="productoSeleccionado; else cargando">
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label">Código</label>
            <input type="text" class="form-control readonly" formControlName="codigo"
              [value]="productoSeleccionado.codigo" readonly />
          </div>
          <div class="col-md-6">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label">Tipo de impuesto</label>
            <select class="form-select" formControlName="impuesto">
              <option value="IVA">IVA</option>
              <option value="Excento de IVA">Excento de IVA</option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="form-label">Fecha de Creación</label>
            <input type="text" class="form-control readonly" formControlName="fechaCreacion" readonly />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label">Fecha de Vencimiento</label>
            <input type="Date" class="form-control" formControlName="fechaVencimiento" />
          </div>
          <div class="col-md-6">
            <label class="form-label">Lote</label>
            <input type="text" class="form-control" formControlName="lote" />
          </div>
        </div>

        <!-- Tabla de Formas de Venta -->
        <h5 class="mt-4">Formas de Venta</h5>
        <div *ngIf="productoSeleccionado?.formaVentas; else sinDatos">
          <div class="table-container-title">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nombre Forma</th>
                  <th>Precio de compra</th>
                  <th>Precio de venta</th>
                  <th>Cantidad</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
            </table>
            <div class="table-body-scroll">
              <table class="table table-hover">
                <tbody formArrayName="formasVentas">
                  <tr *ngFor="let forma of formasVentas.controls; let i = index" [formGroupName]="i">
                    <td><input type="text" class="form-control" formControlName="nombre" /></td>
                    <td><input type="number" class="form-control" formControlName="precioCompra" /></td>
                    <td><input type="number" class="form-control" formControlName="precioVenta" /></td>
                    <td><input type="number" class="form-control" formControlName="cantidad" /></td>
                    <td><button type="button" class="btn btn-danger" (click)="eliminarFormaVenta(i)">Ｘ</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <h5 class="mt-4">Agregar Forma de venta</h5>
        <div class="col-md-12">
          <!-- Botón para mostrar los inputs -->
          <button *ngIf="!mostrarInputs" type="button" class="btn mt-2 formulario btnAggFormas w-100"
            (click)="agregarFila()">+</button>

          <!-- Inputs que aparecen cuando se hace clic en el botón -->
          <div *ngIf="mostrarInputs" class="mt-2">
            <div class="row">
              <div class="col-md-3">
                <input type="text" class="form-control mb-2" formControlName="nombreNuevaForma" placeholder="Nombre" />
              </div>
              <div class="col-md-3">
                <input type="number" class="form-control mb-2" formControlName="precioCompraNuevaForma"
                  placeholder="Precio de compra" />
              </div>
              <div class="col-md-3">
                <input type="number" class="form-control mb-2" formControlName="precioVentaNuevaForma"
                  placeholder="Precio de venta" />
              </div>
              <div class="col-md-3">
                <input type="number" class="form-control mb-2" formControlName="cantidadNuevaForma" placeholder="Cantidad" />
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-lg mt-5" (click)="guardarCambios()">Guardar
              cambios</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #sinDatos>
  <p class="text-muted">No hay formas de venta disponibles.</p>
</ng-template>

<ng-template #cargando>
  <p class="text-muted">Cargando información del producto...</p>
</ng-template>