<div class="card">
    <div class="card-header">
        <div>
            <h5><strong>Día con más ingresos</strong></h5>
        </div>

        <div class="card-icon icon-blue">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <line x1="12" y1="1" x2="12" y2="23"></line>
                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
            </svg>
        </div>
    </div>
    <div class="card-body">
        <p>Para el periodo seleccionado, el día <strong>{{ diaMasVentas?.diaSemana || 'N/A' }}</strong> es el día que más se registran ventas,
            con un total de: <br>
            <span class="value-in-card">{{ formatearMoneda(diaMasVentas?.totalVentas || 0) }}</span><br> de ventas en el día.
        </p>
        <div #chartContainer class="chart-wrapper"></div>
    </div>
</div>