/* You can add global styles to this file, and also import other style files */
*{
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container .content {
  background-color: rgb(235, 235, 235);
  width: 100%;
}

app-menu{
  background-color: rgb(235, 235, 235);
  /* border: 10px solid teal; */
/*
  display: grid;
  
  grid-template-columns: 200px  0  1fr;
  height: 100vh;
  */
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Estilos para el modal del scanner */
.scanner-modal {
  padding: 0 !important;
}

.scanner-modal .mat-dialog-container {
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}

/* Hacer el modal más grande en pantallas pequeñas */
@media (max-width: 576px) {
  .modal-fullscreen-sm-down {
    margin: 0 !important;
    max-width: 100vw !important;
    width: 100vw !important;
    height: 100vh !important;
  }

  .modal-fullscreen-sm-down .mat-dialog-container {
    border-radius: 0;
    max-height: 100vh !important;
  }
}
