<div class="formulario">
  <div class="container">
    <div class="col-12">
      <h1 class="rojo">
        Hacer una venta
      </h1>
    </div>

    <label class="mt-5">Cliente </label>
    <hr class="opacity-100">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

      <div class="row gy-3 align-items-center">
        <!-- Cédula del cliente -->
        <div class="col-lg-3 col-md-6 col-12 position-relative">
          <p for="cliente">Cédula del cliente:</p>
          <input class="form-control" type="text" formControlName="cliente" id="cedulaCliente"
            (input)="filtrarClientes()" placeholder="123456789">

          <!-- Lista flotante -->
          <div class="popup position-absolute w-100" *ngIf="clientesFiltrados.length > 0">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let cliente of clientesFiltrados"
                (click)="seleccionarClienteDeLista(cliente)">
                {{ cliente.cedula }} - {{ cliente.nombre }}
              </li>
            </ul>
          </div>

          <span
            *ngIf="formulario.get('cliente')?.invalid && (formulario.get('cliente')?.dirty || formulario.get('cliente')?.touched)">
            Por favor, ingrese un valor válido.
          </span>
        </div>


        <!-- Nombre -->
        <div class="col-lg-5 col-md-6 col-12">
          <p for="nombre">Nombre:</p>
          <input class="form-control disabled-input" type="text" formControlName="nombre" placeholder="Juan perez"
            [value]="clienteSeleccionado?.nombre">
          <span
            *ngIf="formulario.get('nombre')?.invalid && (formulario.get('nombre')?.dirty || formulario.get('nombre')?.touched)">
            Por favor, ingrese un valor válido.
          </span>
        </div>

        <!-- Dirección -->
        <div class="col-lg-4 col-md-6 col-12">
          <p for="direccion" class="form-label">Dirección</p>
          <input class="form-control disabled-input" type="text" formControlName="direccion" placeholder="Armenia"
            [value]="clienteSeleccionado?.direccion">
          <span
            *ngIf="formulario.get('direccion')?.invalid && (formulario.get('direccion')?.dirty || formulario.get('direccion')?.touched)">
            Por favor, ingrese un valor válido.
          </span>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="col-lg text-right">
          <p type="button" (click)="cerrarMenu()" class="mt-1 mb-5" id="gris" data-bs-toggle="modal"
            data-bs-target="#agregarUsuarioModal">¿No encuentras el cliente? Puedes crearlo <u><b>Aquí</b></u> </p>
        </div>
      </div>


    </form>

    <div class="productos mt-5">
      <label>Producto a agregar</label>
      <hr class="opacity-100">
      <div [formGroup]="productosForm">
        <div class="row gy-3">

          <!-- Id producto -->
          <div class="col-lg-5 col-md-6 col-12 position-relative">
            <p for="codigoProducto" class="form-label">Codigo producto</p>
            <input class="form-control" type="text" formControlName="codigoProducto" id="codigoProducto"
              placeholder="1A2B3C4B" (input)="filtrarProductos()" (keyup)="patchearProducto()" 
              (paste)="patchearProducto()">

            <div class="popup position-absolute w-100" *ngIf="productosFiltrados.length > 0">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let producto of productosFiltrados"
                  (click)="seleccionarProductoDeLista(producto)">
                  {{ producto.codigo }} - {{ producto.nombre }}
                </li>
              </ul>
            </div>
            <span
              *ngIf="productosForm.get('codigoProducto')!.invalid && (productosForm.get('codigoProducto')!.dirty || productosForm.get('codigoProducto')!.touched)">
              Por favor, ingrese un valor válido.
            </span>
          </div>

          <!-- Nombre producto -->
          <div class="col-lg-7 col-md-6 col-12">
            <p for="nombreProducto" class="form-label">Nombre producto</p>
            <input type="text" id="nombreProducto" class="form-control disabled-input option-venta" formControlName="nombreProducto"
              placeholder="Acetaminofen" [value]="productoSeleccionado?.nombre">
            <span
              *ngIf="productosForm.get('nombreProducto')!.invalid && (productosForm.get('nombreProducto')!.dirty || productosForm.get('nombreProducto')!.touched)">
              Por favor, ingrese un valor válido.
            </span>
          </div>

          <!-- Combo de formas de venta -->
          <div class="col-lg-5 col-md-6 col-12">
            <p for="formaVenta" class="form-label">Forma de venta</p>

            <select class="form-select option-venta" formControlName="formaVenta" (change)="cambiarPrecio()" >
              <option value=""  disabled selected>Seleccione una forma de venta</option>
              <option *ngFor="let formaDeVenta of formaVenta; let i = index" [value]="i"  >
                {{formaDeVenta}}
              </option>
            </select>
            <span
              *ngIf="productosForm.get('precio')!.invalid && (productosForm.get('precio')!.dirty || productosForm.get('precio')!.touched)">
              Por favor, ingrese un valor válido.
            </span>
          </div>

          <!-- Precio producto -->
          <div class="col-lg-5 col-md-6 col-12">
            <p for="precioProducto" class="form-label">Precio</p>
            <input type="text" class="form-control disabled-input" formControlName="precio"
                   placeholder="$ --------">
            <span *ngIf="productosForm.get('precio')!.invalid && 
                         (productosForm.get('precio')!.dirty || productosForm.get('precio')!.touched)">
              Por favor, ingrese un valor válido.
            </span>
          </div>


          <!-- Cantidad -->
          <div class="col-lg-2 col-md-6 col-12">
            <p for="cantidadProducto" class="form-label">Cantidad</p>
            <input type="number" id="cantidadProducto" class="form-control" formControlName="cantidadProducto"
              placeholder="Cantidad del producto" min="1" max="{{cantidadDisponible}}">
              <p>Disponible: {{cantidadDisponible}}</p>
            <span
              *ngIf="productosForm.get('cantidadProducto')?.hasError('cantidadInvalida') && productosForm.get('cantidadProducto')!.invalid && (productosForm.get('cantidadProducto')!.dirty || productosForm.get('cantidadProducto')!.touched)">
              Por favor, ingrese un valor válido.
            </span>
            <span *ngIf="!hayStock" class="text-danger">*Valor mayor al stock disponible</span>
          </div>

          <!-- Botón Agregar -->
          <div class="col-12">
            <button class="btn btn-primary w-100 BotonGeneral" id="azul" (click)="agregarProducto()">Agregar
              producto</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="table-container">
        <div class="separador">
          <div class="table-responsive tabla">
            <table class="table table-bordered table-hover ">
              <thead>
                <tr>
                  <th>Cod Producto</th>
                  <th>Nombre Producto</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Forma de venta</th>
                  <th class="eliminar">Acciones</th>
                </tr>
              </thead>

              <tbody>
                @for(producto of listProductos;track producto.codigo){
                <tr>
                  <td class="codigo">
                    <div class="codigo-scroll">
                      {{ producto.codigo }}
                    </div>
                  </td>              
                  <td class="nombre">
                    <div class="nombre-scroll">
                      {{ producto.nombre }}
                    </div>
                  </td>
                  <td>${{producto.precio| number:'1.0-0' }}</td>
                  <td>{{ producto.cantidad }}</td>
                  <td>{{producto.formaVenta}}</td>
                  <td id="eliminar" class="eliminar">
                    <button class="btn-primary BotonGeneral" (click)="eliminarPorId(producto)">X</button>
                  </td>
                </tr>
                }
                @if(listProductos.length === 0){
                <tr class="sin-datos-tabla">
                  <td colspan="5">
                    <div class="sin-datos-mensaje">No se han agregado productos</div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row">
        <!-- Columna del checkbox -->
        <div class="col-md-6 d-flex">
          <div class="row">
            <div class="col-md-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="applyDiscountCheckbox" [(ngModel)]="aplicarDescuento"/>
                <label class="form-check-label ms-2" for="applyDiscountCheckbox">
                  Aplicar descuento
                </label>
              </div>
            </div>

            <!-- Columna del cuadro de texto -->
            <div class="col-md-8 mt-3 mt-md-0" *ngIf="aplicarDescuento">
              <input type="text" class="form-control" id="discountValue"  [value]="valorFormateado" (input)="formatearValor($event)"  [(ngModel)]="valorDescuento"
                placeholder="Ingrese el valor del descuento" />
            </div>
            @if(aplicarDescuento){
              <button class="btn btn-primary w-100 BotonGeneral" id="azul" (click)="reducirTotal()">Aplicar descuento</button>
            }
            @if(descuentoAplicado){
              <button class="btn btn-danger w-100 BotonCancelar" (click)="cancelarDescuento()">Cancelar descuento</button>
            }
          </div>
        </div>

          <div class="col-md-6 alinear-derecha">
            <div class="valores-a-pagar">
              <!-- <p><span>Subtotal: </span> {{subtotal | currency }}  </p> -->
              <p><span>IVA ({{porcentajeIva}}%):</span> ${{igv | number: '1.0-0' }}</p>
              <div *ngIf="aplicarDescuento">
                <p><span>Descuento:</span> ${{valorDescuento}}</p>
              </div>
              <p><span>Total a pagar:</span> ${{total | number: '1.0-0' }}</p>
            </div>
          </div>

        </div>
      </div>


      <div class="col-lg text-right">
        <button type="submit" class="btn-primary BotonGeneral" id="verde" (click)="onSubmit()">Vender</button>
      </div>

      <div class="nuevo-usuario" [ngClass]="{ 'oculto': modoOculto }">
        <span class="cerrar" (click)="cambiarModoOculto()">❌</span>
        <app-nuevo></app-nuevo>
      </div>
    </div>



    <div class="modal fade" id="agregarUsuarioModal" tabindex="-1" aria-labelledby="agregarUsuarioModalLabel"
      aria-hidden="true" #modal (shown.bs.modal)="cerrarMenu()">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="agregarUsuarioModalLabel">Agregar Nuevo Cliente</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body StyleModal">
            <app-nuevo></app-nuevo>
          </div>
        </div>
      </div>
    </div>

  </div>