<div class="card">
    <div class="card-header">
        <div>
            <h5><strong>Ingresos por ventas</strong></h5>
            <p>Rendimiento de ventas</p>
        </div>
        <div class="card-icon icon-green">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <line x1="12" y1="1" x2="12" y2="23"></line>
                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
            </svg>
        </div>
    </div>
    <div class="card-body">
        <p class="value-in-card">$ 33,000,000</p>
        <span>Total del período seleccionado</span>
    </div>
</div>